.work-section-mobile {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.work-section-mobile canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#cards-canvas {
  z-index: 10;
}

.card-link-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: 60%;
  max-height: 500px;
  z-index: 20;
  pointer-events: auto;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
